@import "../../../styles/";

.counter-container{

  display: flex;
  input::-webkit-outer-spin-button,
  input::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin: 0;
  }

  input[type = text]{
    padding: 5px;
    -moz-appearance: textfield;
  }

  button{
    padding: 5px 8px;
    color: white;
    &.increment{
    background-color: $green;
    border: 1px solid $green;
  }
  &.decrement{
    background-color: $red;
    border: 1px solid $red;
  }
  }

}
