<main>
<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Counter Field'"
  [subTitle]="'Components'"
>
  <app-counter   body   ></app-counter>

</app-card>




<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Twiiter Post'"
  [subTitle]="'Components'"
>
  <app-twitter-post   body   ></app-twitter-post>

</app-card>




<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Text Loader'"
  [subTitle]="'Components'"
>
  <app-text-laoder   body [isLoading]="false"  [loaderType]="loaderType"></app-text-laoder>

</app-card>

<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Loader'"
  [subTitle]="'Components'"
>
  <app-loader   body [isLoading]="false" ></app-loader>

</app-card>



<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Message'"
  [subTitle]="'Components'"
>
  <app-message   body ></app-message>

</app-card>






<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Star Rating'"
  [subTitle]="'Components'"
>
  <app-star-ratings   body [rating]="3.6"></app-star-ratings>

</app-card>

<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Progress Bar'"
  [subTitle]="'Components'"
>
  <app-progress-bar   body ></app-progress-bar>

</app-card>

<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Accordion'"
  [subTitle]="'Components'"
>
  <app-accordion body [items]="accordionItems"></app-accordion>
</app-card>

<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Card'"
  [subTitle]="'Components'"
>
  <p body>Body Content</p>
  <p footer>Footer Content</p>
</app-card>


</main>
