@import '../../../styles/';

.toolbar-container{
  display: grid;
  grid-gap : 10px;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px;
  background-color: $blue;
  @include box-shadow();

  @media screen  and (max-width : $tablet){
    grid-template-columns: 1fr;
  }
}

:host::ng-deep{
  ul{
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;               /* Makes the <ul> a flex container */

  }
  li {
  display: inline;
  }

  ul a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits text color from parent */
  // padding: 5px 10px; /* Matches <li> padding if needed */
  display: inline-block; /* Ensures padding applies correctly */
  transition: border-bottom 0.3s ease; /* Smooth transition for hover effect */
  border-bottom: 2px solid transparent; /* Invisible border for hover effect */
}

/* Hover effect for <a> tags */
ul a:hover {
  border-bottom: 2px solid #af634c; /* Green border appears on hover */
}
}



